#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    z-index: 9999;
}

.wave {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    opacity: 0;
    animation: waves 2s ease-out infinite;
}

.wave:nth-child(1) {
    animation-delay: 0s;
}

.wave:nth-child(2) {
    animation-delay: 0.5s;
}

.wave:nth-child(3) {
    animation-delay: 1s;
}

.wave:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes waves {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}
