.contact_container{
  width: var(--container-width-lg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.contact_options{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);

}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.contact_map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border-radius: 1.2rem;
    overflow: hidden;
    border: 2px solid var(--color-primary-variant);
}

/*================== MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen  and (max-width:1024px) {
     .contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contact_options {
        flex-direction: column;
    }
    
  }
  
  /*================== MEDIA QUERIES (SMALLER DEVICES) ================*/
  @media screen  and (max-width:600px) {
    
    .container .contact_container{
        width: var(--container-width-sm);
    }
    
  }